.alumni-sans collegiate one-regular {
    font-family: "Alumni Sans Collegiate One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "slnt" 0;
}

.jaldi-regular {
    font-family: "Jaldi", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    width: 100%;
    min-width: 0;
    font-family: "Inter", sans;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b2e39;
    z-index: 3;
}

.navbar {
    width: 95%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4vw;
}


.nav-link{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 50px;
    color: #fff;
}

.nav-link:hover{
    color: #D9D9D9;
}

.nav-logo {
    z-index: 3;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #12182B;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow:
                0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
        height: calc(100% - 80px);
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}

/*advertiseing component*/

.advertise{
    width: 100%;
    margin-top: 95px;
    padding-bottom: 60px;
}

.advertise-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advertise-content {
    width: 50%;
    /*height: 60vh;*/
    padding: 40px 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.advertise-content {
}
.advertise-content h2{
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 50px;
}


.advertise-content h2 span{
    color: #FFC700;
}

.advertise-content p {
    width: 50%;
    color: gray;
    font-size: 1.3rem;
    font-weight: 500;
    padding-top: 20px;
}

.advertise-content a {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    background-color: #FFC700;
    border: 2px solid #FFC700;
    border-radius: 50px;
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 40px;
    padding: 20px 0;
}
.advertise-content a:hover {
    background-color: inherit;
    cursor: pointer;
}

.advertise-img-box {
    width: 50%;
    /*padding: 40px 0;*/
}
.advertise-img {
    object-fit: contain;
    width: 100%;
    /*height: 60vh;*/
    /*background-image: url(../img/advertise-image.png);*/
    /*border-radius: 50px;*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*-webkit-box-shadow: 0px -78px 92px 0px rgba(34, 60, 80, 0.2) inset;*/
    /*-moz-box-shadow: 0px -78px 92px 0px rgba(34, 60, 80, 0.2) inset;*/
    /*box-shadow: 0px -78px 92px 0px rgba(34, 60, 80, 0.2) inset;*/
}


@media only screen and (max-width: 1280px) {
    .advertise-content h2{
        font-size: 2.1rem;
        line-height: 35px;
    }
    .advertise-content p {
        width: 70%;
        font-size: 1rem;
        line-height: 20px;
    }
    .advertise-content a {
        width: 50%;
        font-size: 1rem;
    }
    .advertise-img {
        border-radius: 40px;
    }
}
@media only screen and (max-width: 768px) {
    .free-knowledge-item-content > p{
        font-size: 1.2rem;
    }
    .advertise-container {
        flex-direction: column;
    }
    .advertise-content {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
    }
    .advertise-content h2{
        font-size: 1.6rem;
        text-align: center;
    }
    .advertise-content p {
        width: 100%;
        text-align: center;
    }
    .advertise-img-box {
        width: 100%;
    }
    .advertise-img {
        width: 100%;
        border-radius: 30px;
    }
}

/*Intended for component*/

.intended-for {
    width: 100%;
    background-color: #2b2e39;
    /*#12182B*/
    padding: 30px 0;
}

.intended-for-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.intended-for-container h2 {
    color: #fff;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
}
.intended-for-container a {
    text-decoration: none;
    color: #FFC700;
    font-size: 2.1rem;
    font-weight: 400;
    line-height: 32px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 30px;
    gap: 20px;
}

.intended-for-list {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: 80px;
}
.intended-for-item {
    width: 28%;
    min-height: 300px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 30px 20px 0;
    border-radius: 50px;
    overflow: hidden;
    transition: transform 0.5s ease, padding 0.5s ease;
}

.intended-for-item p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #828282;
    padding-top: 20px;
}


@media only screen and (max-width: 1140px) {
    .intended-for-list {
        width: 100%;
        justify-content: space-between;
    }
    .intended-for-item {
        width: 32%;
        border-radius: 40px;
    }
    .intended-for-item p {
        font-size: 0.9rem;
        letter-spacing: 0;
    }
    .intended-for-container h2 {
        font-size: 1.7rem;
        line-height: 24px;
    }
    .intended-for-container a {
        font-size: 1.4rem;
        gap: 10px;
    }
    .intended-for-container a img {
        max-width: 30px;
        max-height: 30px;
    }
}
@media only screen and (max-width: 728px) {
    .intended-for-list {
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
    }
    .intended-for-item {
        width: 60%;
        margin: 30px 0;
    }
    .intended-for-item p {
        font-size: 0.9rem;
    }
    .intended-for-container h2 {
        font-size: 1.4rem;
    }
    .intended-for-container a {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 540px) {
    .intended-for-item {
        width: 70%;
    }
    .intended-for-container h2 {
        font-size: 1.3rem;
    }
}

/*Our team*/

.our-team {
    width: 100%;
    padding-top: 7rem;
}
.our-team-container {
    width: 90%;
    margin: auto;
    color: black;
    box-sizing: border-box;
}

.our-team-container h2 {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 500;
}

.our-team-container h2 span {
    color: #4666D8;
}

.our-team-container>div {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.our-team-container>div p {
    width: 75%;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 45px;
}

.our-team-container>div img {
    width: 20%;
    min-width: 80px;
    object-fit: contain;
}


@media only screen and (max-width: 728px) {
    .our-team-container h2{
        font-size: 1.4rem;
    }
    .our-team-container div p {
        font-size: 0.9rem;
        line-height: 20px;
    }
}

/*Teachers list*/

.teachers {
    width: 100%;
    padding: 2rem 0;
}
.teachers-container {
    width: 80%;
    margin: auto;
    display: flex;
    padding: 1.5rem 0;
}
.teachers-item {
    width: 80%;
    max-height: 400px;
    background-color: #D9D9D9;
    border-radius: 30px;
    border: 1px solid black;
    display: flex;
    align-items: center;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}

.left-side {
    justify-content: start;
}
.right-side {
    justify-content: end;
}

.left-side .teachers-image {
    border-right: 1px solid black;
    border-radius: 30px 0 0 30px;
}
.right-side .teachers-image {
    border-left: 1px solid black;
    border-radius: 0 30px 30px 0;
}

.teachers-image {
    width: 35%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.teachers-info {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.teachers-info h2 {
    width: 85%;
    font-size: 2.3rem;
    font-weight: 700;
    /*line-height: 35px;*/
    color: #3D3D3D;
    margin: auto;
}
.teachers-info p {
    width: 85%;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 35px;
    color: #828282;
    margin: auto;
}

.teachers-contact {
    width: 85%;
    display: flex;
    justify-content: start;
    gap: 10%;
    margin: auto;
}
.teachers-contact a {
    width: 7%;
}
.teachers-contact a img {
    width: 100%;
    object-fit: contain;
}

@media only screen and (max-width: 1028px) {
    .our-team-container>div p{
        font-size: 0.9rem;
        line-height: 30px;
    }
    .teachers-info h2 {
        font-size: 20px;
    }
    .teachers-info p {
        font-size: 14px;
        line-height: 24px;
    }
}
@media only screen and (max-width: 768px) {
    .teachers-item {
        width: 100%;
        border-radius: 20px ;
    }
    .teachers-info h2 {
        font-size: 14px;
    }
    .teachers-info p {
        font-size: 10px;
        line-height: 14px;
    }
    .left-side .teachers-image {
        border-radius: 20px 0 0 20px;
    }
    .right-side .teachers-image {
        border-radius: 0 20px 20px 0;
    }
    .teachers-contact {
        display: none;
    }
}
@media only screen and (max-width: 550px) {
    .teachers-item {
        border-radius: 10px ;
    }
    .left-side .teachers-image {
        border-radius: 10px 0 0 10px;
    }
    .right-side .teachers-image {
        border-radius: 0 10px 10px 0;
    }
}

/*Courses component*/
.courses {
    width: 100%;
    background-color: #2b2e39;
    padding: 3rem 0;
}
.courses-container {
    width: 90%;
    margin: auto;
    font-family: Alumni Sans Collegiate One, sans-serif;

}
.courses-container>h2 {
    text-align: center;
    font-size: 120px;
    font-weight: 400;
    color: #FFC700;
    letter-spacing: 0.05em;
    padding: 20px 0;
}

.courses-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.courses-item {
    width: 26%;
    background-color: #525252;
    border: 1px solid black;
    border-radius: 30px;
    padding: 20px 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s ease;
}
.courses-item:hover {
    filter: drop-shadow(1px 1px 20px #FFC700);
}

.courses-item-content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.courses-item-content h2 {
    font-size: 4rem;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.05em;
    margin: 0;
}
.courses-item-content p{
    font-size: 1rem;
    font-family: "Inter", sans;
    font-weight: 400;
    line-height: 20px;

    text-align: center;
    letter-spacing: 0.05em;
    color: #fff;
    padding: 20px 0;
}

.courses-item-content button {
    font-weight: 400;
    background-color: #FFC700;
    border-radius: 50px;
    padding: 15px 30px;
    border: 2px solid #FFC700;
    transition: 0.3s ease;
    cursor: pointer;
    margin-top: auto;
}
.courses-item-content button:hover {
    background-color: inherit;
    color: #fff;
}

@media only screen and (max-width: 1280px){
    .panel p{
        font-size: 1rem;
    }
    .courses-item {
        width: 32%;
    }
}
@media only screen and (max-width: 1140px) {
    .courses-item-content h2{
        font-size: 2.6rem;
    }
}
@media only screen and (max-width: 768px) {
    .courses-container>h2{
        font-size: 56px;
    }
    .courses-list{
        flex-direction: column;
        gap: 60px;
    }
    .courses-item {
        width: 60%;
        margin: auto;
    }
}
@media only screen and (max-width: 540px) {
    .courses-item {
        width: 80%;
    }
}

/*free knowledge component*/


.free-knowledge {
    width: 100%;
    background-color: #2b2e39;
    margin: 0;
    padding: 4rem 0;
    box-decoration-break: inherit;
    /*overflow: hidden;*/
}
.free-knowledge-container {
    width: 90%;
    height: 100%;
    margin: auto;
}
.free-knowledge-container h2 {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    color: #fff;
    margin: 0;
}
.free-knowledge-container p {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    color: #fff;
    padding-top: 40px;
}

.free-knowledge-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    padding-top: 70px;
}
.free-knowledge-item {
    width: 23%;
    background-color: #828282;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    border-radius: 50px;
    transition: transform 0.5s ease, padding 0.5s ease;
}
.free-knowledge-item:hover {
    transform: scale(1.15);
}

.free-knowledge-item img {
    width: 75%;
    min-width: 200px;
    height: 15vw;
    object-fit: contain;
    /*height: 30vh;*/
    z-index: 1;
}

.free-knowledge-item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.free-knowledge-item-content p{
    color: black;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 32px;
    text-align: center;
    padding-bottom: 30px;
}

.free-knowledge-item-content a {
    color: white;
    background-color: black;

    font-weight: 600;
    font-size: 1rem;

    border-radius: 50px;
    border: 2px solid black;
    transition: 0.5s ease;
    cursor: pointer;

    padding: 20px 40px;
    margin-top: auto;
}

.free-knowledge-item-content a:hover{
    background-color: inherit;
    color: black;
}

@media only screen and (max-width: 1028px){
    .free-knowledge-item {
        width: 30%;
    }
    .free-knowledge-item-content p {
        font-size: 1.3rem;
    }
}
@media only screen and (max-width: 768px) {
    .free-knowledge-list {
        flex-direction: column;
        gap: 60px;
    }
    .free-knowledge-item {
        width: 60%;
        margin: auto;
    }
    .free-knowledge-container h2 {
        font-size: 24px;
    }
    .free-knowledge-container p {
        font-size: 1rem;
        line-height: 25px;
    }
}
@media only screen and (max-width: 540px) {
    .free-knowledge-item {
        width: 80%;
        border-radius: 20px;
    }
}

/*Cooperation component*/

.cooperation{
    width: 100%;
    padding-bottom: 50px;
    padding-top: 7rem;
}

.cooperation-container{
    width: 80%;
    margin: auto;
}
.cooperation-container h2{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
}
.cooperation-container p{
    width: 70%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    color: #828282;
    padding-top: 30px;
}

.cooperation-logos{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
}
.cooperation-logo {
    width: 40%;
    height: auto;
    min-width: 120px;
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    background-color: #F1F1F1;
    padding: 10px;
}
.cooperation-logo img {
    width: 80%;
    object-fit: contain;
}

@media only screen and (max-width: 1028px) {
    .cooperation-container p {
        width: 100%;
    }

    .cooperation-logos {
        width: 60%;
    }
}
@media only screen and (max-width: 768px){
    .cooperation-container h2{
        font-size: 1.3rem;
    }
    .cooperation-container p{
        font-size: 1rem;
    }
    .cooperation-logos {
        width: 100%;
        /*flex-direction: column;*/
        gap: 40px;
    }
}

/*Question component*/

.questions {
    width: 100%;
    padding: 0 0 5rem 0;
}

.questions-container {
    width: 80%;
    margin: auto;
    padding-top: 50px;
}
.questions-container h2 {
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 32px;
    text-align: center;
    color: #364478;
}



.accordion-container {
    width: 100%;
    padding-top: 50px;
}

.accordion {
    width: 100%;
    cursor: pointer;
    padding: 18px;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
}


.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel p {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    padding-bottom: 20px;
}

.accordion:after {
    content: url(../img/question/Expand_down_light.svg);
}

.accordion.active:after {
    content: url(../img/question/Expand_up_light.svg);
}

@media only screen and (max-width: 1280px) {
    .questions-container h2 {
        font-size: 2.4rem;
    }
    .accordion {
        font-size: 1rem;
        text-align: left;
    }
}
@media only screen and (max-width: 768px) {
    .questions-container h2 {
        font-size: 1.3rem;
    }
    .accordion {
        font-size: 14px;
        line-height: 1rem;
        padding: 0;
    }
    .panel p {
        font-size: 10px;
    }
}



/*Contacts component*/

.contacts {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/contacts-img/contacts-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-image: fill 0 linear-gradient(#0001, #000);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.contacts-container {
    width: 70%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.location-link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.location-link h2 {
    width: 50%;
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.03em;
    color: #fff;
}
.icon > svg{
    margin-top: 5px;
}
.location-link a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}
.location-link a p {
    font-family: "Jaldi", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    /*letter-spacing: 0.03em;*/
    color: #fff;
}



.link-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.link-item {
    width: 45%;
    /*height: 30vh;*/
    background-color: rgba(18, 24, 43, 0.5);
    border: 1px solid gray;
    padding: 30px 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-item a {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 20px 0;
    text-decoration: none;
    color: black;
    z-index: 1;
}

.link-item a:hover {
    cursor: pointer;
    background-color: #364478;
}


.link-item a span {
    font-size: 2rem;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.01em;
    z-index: 3;
}

.social-box {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}
.social-box img {
    width: 50px;
    object-fit: contain;
}
.social-box p {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Jaldi", sans-serif;
    line-height: 32px;
    letter-spacing: 0.07em;
    color: #D9D9D9;
}


@media only screen and (max-width: 1280px) {
    .contacts {
        height: auto;
        padding: 40px 0;
    }
    .link-list {
        padding-top: 30px;
    }
    .location-link h2 {
        font-size: 1.7rem;
    }
    .location-link a p {
        font-size: 1rem;
    }
    .link-item a span {
        font-size: 1rem;
    }
    .link-item a svg {
        width: 30px;
    }
    .social-box img {
        width: 40px;
    }
    .social-box p {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 768px){
    .contacts-container{
        /*width: 80%;*/
    }
    .location-link {
        flex-direction: column;
    }
    .location-link h2 {
        width: 100%;
        text-align: center;
    }
    .location-link a p {
        font-size: 0.8rem;
    }
    .link-item a {
        padding: 5px 5px;
    }
    .link-item a span {
        font-size: 0.8rem;
    }
    .social-box {
        gap: 5px;
    }
    .social-box img {
        width: 20px;
    }
    .social-box p {
        font-size: 1rem;
    }
    .icon svg {
        width: 15px;
        height: 15px;
    }
}

/*Footer component*/


.footer {
    width: 100%;
    background-color: #2b2e39;
}
.footer-container {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}
.footer-container ul {
    list-style: none;
    padding: 0;
}
.footer-container ul li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #828282;
}

.footer-container h2 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.03em;
    color: #FFC700;
}


.logo-info {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
    padding-top: 20px;
}

.logo-info-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-info-container .stick {
    width: 2px;
    background-color: #828282;
    padding: 30px 0;
}

.logo-info-container p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.03em;
    color: #828282;
}

@media only screen and (max-width: 1280px) {
    .footer-container {
        justify-content: space-between;
    }
}
@media only screen and (max-width: 768px){
    .footer-container {
        width: 100%;
    }
    .footer-container h2 {
        font-size: 1rem;
    }
    .footer-container ul li a{
        font-size: 0.8rem;
    }
    .logo-info img {
        width: 100px;
        object-fit: contain;
    }
    .logo-info-container .stick {
        padding: 15px 0;
    }
    .logo-info-container p {
        font-size: 0.6rem;
    }
}
@media only screen and (max-width: 550px){
    .cooperation{
        margin-top: 2rem;
        padding-top: 0;
    }
    .footer-container {
        width: 95%;
    }
    .logo-info-container .stick {
        display: none;
    }
    .logo-info-container p {
        display: none;
    }
    .footer-container h2 {
        font-size: 0.8rem;
    }
    .footer-container ul li a{
        font-size: 0.7rem;
    }
}