.alumni-sans collegiate one-regular {
    font-family: "Alumni Sans Collegiate One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "slnt" 0;
}

.jaldi {
    font-family: "Jaldi", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    width: 100%;
    min-width: 0;
    font-family: "Inter", sans;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #12182B;
    z-index: 3;
}

.navbar {
    width: 98%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 1rem 1.5rem;*/
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
}


.nav-link{
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    color: #fff;
}

.nav-link:hover{
    color: #D9D9D9;
}

.nav-logo {
    z-index: 3;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #12182B;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow:
                0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}

/*Advertising component*/

.advertis{
    width: 100%;
    margin-top: 95px;
    padding-bottom: 60px;
}

.advertis-cont {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advertis-content {
    width: 50%;
    height: 60vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.advertis-content {
}
.advertis-content h2{
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
}


.advertis-content h2 span{
    color: #FFC700;
}

.advertis-content p {
    width: 50%;
    color: gray;
    font-size: 20px;
    font-weight: 500;
    padding-top: 20px;
}

.advertis-content button {
    width: 15vw;
    background-color: #FFC700;
    border: 2px solid #FFC700;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 400;
    margin-top: 40px;
    padding: 20px 0;
}
.advertis-content button:hover {
    background-color: inherit;
    cursor: pointer;
}

.advertis-img {
    width: 50%;
    height: 60vh;
    background-image: url(../img/advertising-image.jpg);
    border-radius: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-shadow: 0px -78px 92px 0px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px -78px 92px 0px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px -78px 92px 0px rgba(34, 60, 80, 0.2) inset;
}

@media only screen and (max-width: 1280px) {
    .advertis-content h2{
        font-size: 32px;
        line-height: 30px;
    }
    .advertis-content p {
        width: 70%;
        font-size: 16px;
        line-height: 20px;
    }
    .advertis-content button {
        width: 50%;
        font-size: 16px;
    }
    .advertis-img {
        border-radius: 40px;
    }
}
@media only screen and (max-width: 768px) {
    .advertis-cont {
        flex-direction: column;
    }
    .advertis-content {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
    }
    .advertis-content h2{
        font-size: 24px;
        text-align: center;
    }
    .advertis-content p {
        width: 100%;
        text-align: center;
    }
    .advertis-content button {
        font-size: 10px;
    }
    .advertis-img {
        width: 90%;
        height: 40vh;
        border-radius: 30px;
    }
}

/*Intended for component*/

.intended-for {
    width: 100%;
    background-color: #12182B;
    padding: 30px 0;
}

.intended-for-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.intended-for-container h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
}
.intended-for-container a {
    text-decoration: none;
    color: #FFC700;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 30px;
    gap: 20px;
}

.intended-for-list {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: 80px;
}
.intended-for-item {
    width: 28%;
    min-height: 300px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 30px 20px 0;
    border-radius: 50px;
    overflow: hidden;
    transition: transform 0.5s ease, padding 0.5s ease;
}

.intended-for-item p {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #828282;
    padding-top: 20px;
}


@media only screen and (max-width: 1140px) {
    .intended-for-list {
        width: 100%;
        justify-content: space-between;
    }
    .intended-for-item {
        width: 32%;
        border-radius: 40px;
    }
    .intended-for-item p {
        font-size: 13px;
        letter-spacing: 0;
    }
    .intended-for-container h2 {
        font-size: 26px;
        line-height: 24px;
    }
    .intended-for-container a {
        font-size: 22px;
        gap: 10px;
    }
    .intended-for-container a img {
        max-width: 30px;
        max-height: 30px;
    }
}
@media only screen and (max-width: 728px) {
    .intended-for-list {
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
    }
    .intended-for-item {
        width: 60%;
        margin: 30px 0;
    }
    .intended-for-item p {
        font-size: 12px;
    }
    .intended-for-container h2 {
        font-size: 22px;
    }
    .intended-for-container a {
        font-size: 15px;
    }
}
@media only screen and (max-width: 540px) {
    .intended-for-item {
        width: 70%;
    }
    .intended-for-container h2 {
        font-size: 20px;
    }
}

/*Our team*/

.our-team {
    width: 100%;
    padding: 40px 0;
}
.our-team-container {
    width: 90%;
    margin: auto;
    color: black;
    box-sizing: border-box;
}

.our-team-container h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
}

.our-team-container h2 span {
    color: #4666D8;
}

.our-team-container>div {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.our-team-container>div p {
    width: 75%;
    font-size: 24px;
    font-weight: 600;
    line-height: 45px;
}

.our-team-container>div img {
    width: 20%;
    min-width: 100px;
    object-fit: contain;
}


@media only screen and (max-width: 728px) {
    .our-team-container h2{
        font-size: 22px;
    }
    .our-team-container div p {
        font-size: 14px;
        line-height: 20px;
    }
}

/*Teachers list*/

.teachers-list {
    width: 80%;
    margin: auto;
}


.teachers-item  {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    padding: 50px 0;
}

.teachers-item-container {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D9D9D9;
    border: 1px solid black;
    border-radius: 40px;
}

.left-item {
    justify-content: start;
}
.left-item .teachers-img-box img{
    border-radius: 40px 0 0 40px;
    border-right: 1px solid black;
}
.right-item {
    justify-content: end;
}
.right-item .teachers-img-box img{
    border-radius: 0 40px 40px 0;
    border-left: 1px solid black;
}

.teachers-img-box {
    width: 30%;
    height: 100%;
}
.teachers-img-box img {
    width: 100%;
    height: 100%;
    object-position: top;
    object-fit: cover;
    aspect-ratio: 4/2;
}



.teachers-info-box {
    width: 50%;
    margin: auto;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}
.teachers-info-box h2 {
    color: #484848;
    font-size: 30px;
    font-weight: 700;
}
.teachers-info-box p {
    color: #828282;
    font-size: 22px;
    font-weight: 400;
}

.teachers-contact {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.teachers-contact a {
}
.teachers-contact a img {
    width: 60px;
    aspect-ratio: 3/2;
    object-fit: contain;
}

@media only screen and (max-width: 1024px) {
    .teachers-item{
        height: 40vh;
    }
    .teachers-img-box img {
        height: 100%;
    }
    .teachers-info-box h2 {
        font-size: 14px;
    }
    .teachers-info-box p {
        font-size: 14px;
    }
    .teachers-contact {
        width: 30%;
    }
    .teachers-contact a img {
        width: 25px;
        height: 25px;
    }
}

@media only screen and (max-width: 768px) {
    .our-team-container h2 {
        font-size: 20px;
    }
    .our-team-container>div p {
        font-size: 13px;
    }
    .teachers-item-container {
        width: 100%;
        height: 20vh;
        border-radius: 30px;
    }
    .teachers-info-box {
        width: 60%;
    }
    .right-item .teachers-img-box img {
        border-radius: 0 30px 30px 0;
    }
    .left-item .teachers-img-box img {
        border-radius: 30px 0 0 30px;
    }
    .teachers-info-box h2 {
        font-size: 18px;
    }
    .teachers-info-box p {
        font-size: 14px;
    }
    .teachers-contact a img {
        display: none;
    }
}
@media only screen and (max-width: 550px) {
    .teachers-item-container {
        width: 100%;
        height: 20vh;
        border-radius: 20px;
    }
    .right-item .teachers-img-box img {
        border-radius: 0 20px 20px 0;
    }
    .left-item .teachers-img-box img {
        border-radius: 20px 0 0 20px;
    }
    .teachers-info-box h2 {
        font-size: 10px;
    }
    .teachers-info-box p {
        font-size: 10px;
    }
}

/*Courses component*/
.courses {
    width: 100%;
    background-color: #12182B;
    padding-bottom: 100px;
}
.courses-container {
    width: 90%;
    margin: auto;
    font-family: Alumni Sans Collegiate One, sans-serif;

}
.courses-container>h2 {
    text-align: center;
    font-size: 64px;
    font-weight: 400;
    color: #FFC700;
    letter-spacing: 0.05em;
    padding: 20px 0;
}

.courses-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.courses-item {
    width: 26%;
    background-color: #525252;
    border: 1px solid black;
    border-radius: 30px;
    padding: 20px 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s ease;
}
.courses-item:hover {
    filter: drop-shadow(1px 1px 20px #FFC700);
}

.courses-item-content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.courses-item-content h2 {
    font-size: 48px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.05em;
    margin: 0;
}
.courses-item-content p{
    font-size: 15px;
    font-family: "Inter", sans;
    font-weight: 400;
    line-height: 20px;

    text-align: center;
    letter-spacing: 0.05em;
    color: #fff;
    padding: 20px 0;
}

.courses-item-content button {
    font-weight: 400;
    background-color: #FFC700;
    border-radius: 50px;
    padding: 15px 30px;
    border: 2px solid #FFC700;
    transition: 0.3s ease;
    cursor: pointer;
    margin-top: auto;
}
.courses-item-content button:hover {
    background-color: inherit;
    color: #fff;
}

@media only screen and (max-width: 1280px){
    .courses-item {
        width: 32%;
    }
}
@media only screen and (max-width: 1140px) {
    .courses-item-content h2{
        font-size: 40px;
    }
}
@media only screen and (max-width: 768px) {
    .courses-list{
        flex-direction: column;
        gap: 60px;
    }
    .courses-item {
        width: 60%;
        margin: auto;
    }
}
@media only screen and (max-width: 540px) {
    .courses-item {
        width: 80%;
    }
}

/*free knowledge component*/


.free-knowledge {
    width: 100%;
    background-color: #12182B;
    margin: 0;
    padding-bottom: 80px;
}
.free-knowledge-container {
    width: 90%;
    margin: auto;
}
.free-knowledge-container h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    color: #fff;
    margin: 0;
}
.free-knowledge-container p {
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    color: #fff;
    padding-top: 40px;
}

.free-knowledge-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    padding-top: 70px;
}
.free-knowledge-item {
    width: 23%;
    background-color: #828282;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    border-radius: 50px;
    transition: transform 0.5s ease, padding 0.5s ease;
}
.free-knowledge-item:hover {
    transform: scale(1.15);
}

.free-knowledge-item img {
    width: 75%;
    min-width: 200px;
    height: 15vw;
    object-fit: contain;
    /*height: 30vh;*/
    z-index: 1;
}

.free-knowledge-item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.free-knowledge-item-content p{
    color: black;
    font-size: 26px;
    font-weight: 900;
    line-height: 32px;
    text-align: center;
    padding-bottom: 30px;
}

.free-knowledge-item-content button {
    color: white;
    background-color: black;

    font-weight: 600;
    font-size: 15px;

    border-radius: 50px;
    border: 2px solid black;
    transition: 0.5s ease;
    cursor: pointer;

    padding: 20px 40px;
    margin-top: auto;
}

.free-knowledge-item-content button:hover{
    background-color: inherit;
    color: black;
}

@media only screen and (max-width: 1028px){
    .free-knowledge-item {
        width: 30%;
    }
    .free-knowledge-item-content p {
        font-size: 20px;
    }
}
@media only screen and (max-width: 768px) {
    .free-knowledge-list {
        flex-direction: column;
        gap: 60px;
    }
    .free-knowledge-item {
        width: 60%;
        margin: auto;
    }
    .free-knowledge-container h2 {
        font-size: 24px;
    }
    .free-knowledge-container p {
        font-size: 16px;
        line-height: 25px;
    }
}
@media only screen and (max-width: 540px) {
    .free-knowledge-item {
        width: 80%;
        border-radius: 20px;
    }
}

/*Cooperation component*/

.cooperation{
    width: 100%;
    padding-bottom: 50px;
}

.cooperation-container{
    width: 80%;
    margin: auto;
    padding-top: 80px;
}
.cooperation-container h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
}
.cooperation-container p{
    width: 70%;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    color: #828282;
    padding-top: 30px;
}

.cooperation-logos{
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.cooperation-logo {
    width: 40%;
    height: auto;
    min-width: 140px;
    min-height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    background-color: #F1F1F1;
    padding: 10px;
}
.cooperation-logo img {
    width: 80%;
    object-fit: contain;
}

@media only screen and (max-width: 1028px) {
    .cooperation-container p {
        width: 100%;
    }

    .cooperation-logos {
        width: 60%;
    }
}
@media only screen and (max-width: 768px){
    .cooperation-container h2{
        font-size: 20px;
    }
    .cooperation-container p{
        font-size: 14px;
    }
    .cooperation-logos {
        width: 100%;
        flex-direction: column;
        gap: 40px;
    }
}

/*Question component*/

.questions {
    width: 100%;
    padding-bottom: 100px;
}

.questions-container {
    width: 80%;
    margin: auto;
    padding-top: 50px;
}
.questions-container h2 {
    font-size: 48px;
    font-weight: 800;
    line-height: 32px;
    text-align: center;
    color: #364478;
}



.accordion-container {
    width: 100%;
    padding-top: 50px;
}

.accordion {
    width: 100%;
    cursor: pointer;
    padding: 18px;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
}

.active, .accordion:hover {
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel p {
    font-size: 15px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    padding-bottom: 20px;
}

.accordion:after {
    content: url(../img/question/Expand_down_light.svg);
}

.active:after {
    content: url(../img/question/Expand_up_light.svg);
}

@media only screen and (max-width: 1280px) {
    .questions-container h2 {
        font-size: 36px;
    }
    .accordion {
        font-size: 16px;
        text-align: left;
    }
}
@media only screen and (max-width: 768px) {
    .questions-container h2 {
        font-size: 20px;
    }
    .accordion {
        font-size: 10px;
        line-height: 10px;
        padding: 0;
    }
    .panel p {
        font-size: 7px;
    }
}



/*Contacts component*/

.contacts {
    width: 100%;
    height: 100vh;
    background-image: url(../img/contacts-img/contacts-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-image: fill 0 linear-gradient(#0001, #000);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.contacts-container {
    width: 60%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.location-link {
    width: 100%;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}
.location-link h2 {
    width: 40%;
    font-size: 48px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.03em;
    color: #fff;
}

.location-link a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-decoration: none;
}
.location-link a p {
    font-family: "Jaldi", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    /*letter-spacing: 0.03em;*/
    color: #fff;
}



.link-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.link-item {
    width: 45%;
    height: 30vh;
    background-color: rgba(18, 24, 43, 0.5);
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-item a {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 20px 0;
    text-decoration: none;
    color: black;
}

.link-item a:hover {
    cursor: pointer;
    background-color: #364478;
}


.link-item a span {
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.01em;
    z-index: 3;
}
.link-item a div {
    /*width: 30%;*/
}
.link-item a svg {
    /*width: 100%;*/
}

.social-box {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}
.social-box img {
    width: 50px;
    object-fit: contain;
}
.social-box p {
    font-size: 25px;
    font-weight: 400;
    font-family: "Jaldi", sans-serif;
    line-height: 32px;
    letter-spacing: 0.07em;
    color: #D9D9D9;
}


@media only screen and (max-width: 1280px) {
    .contacts {
        height: auto;
        padding: 40px 0;
    }
    .link-list {
        padding-top: 30px;
    }
    .location-link a {
        gap: 8px;
    }
    .location-link h2 {
        font-size: 26px;
    }
    .location-link a p {
        font-size: 16px;
    }
    .link-item a span {
        font-size: 16px;
    }
    .link-item a svg {
        width: 30px;
    }
    .social-box img {
        width: 40px;
    }
    .social-box p {
        font-size: 16px;
    }
}
@media only screen and (max-width: 768px){
    .contacts-container{
        width: 100%;
    }
    .location-link {
        flex-direction: column;
    }
    .location-link h2 {
        width: 100%;
        text-align: center;
    }
    .location-link a p {
        font-size: 12px;
    }
    .link-item a {
        padding: 5px 0;
    }
    .link-item a span {
        font-size: 12px;
    }
    .social-box {
        gap: 5px;
    }
    .social-box img {
        width: 25px;
    }
}

/*Footer component*/


.footer {
    width: 100%;
    background-color: #12182B;
}
.footer-container {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}
.footer-container ul {
    list-style: none;
    padding: 0;
}
.footer-container ul li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #828282;
}

.footer-container h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.03em;
    color: #FFC700;
}


.logo-info {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
    padding-top: 20px;
}

.logo-info-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-info-container .stick {
    width: 2px;
    background-color: #828282;
    padding: 30px 0;
}

.logo-info-container p {
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.03em;
    color: #828282;
}

@media only screen and (max-width: 1280px) {
    .footer-container {
        justify-content: space-between;
    }
}
@media only screen and (max-width: 768px){
    .footer-container {
        width: 100%;
    }
    .footer-container h2 {
        font-size: 16px;
    }
    .footer-container ul li a{
        font-size: 12px;
    }
    .logo-info img {
        width: 60px;
        object-fit: contain;
    }
    .logo-info-container .stick {
        padding: 15px 0;
    }
    .logo-info-container p {
        font-size: 10px;
    }
}
@media only screen and (max-width: 550px){
    .footer-container {
        width: 95%;
    }
    .logo-info-container .stick {
        display: none;
    }
    .logo-info-container p {
        display: none;
    }
    .footer-container h2 {
        font-size: 10px;
    }
    .footer-container ul li a{
        font-size: 7px;
    }
}